# Desafio

Exercício: Explorando o Conjunto de Dados de Vendas de Videogames

Objetivo: Utilizar a biblioteca Pandas para extrair e analisar informações dos conjuntos de dados de vendas de jogos e video games.
Tarefas dos Alunos

    Leitura e Inspeção dos Dados:
        Carregue os arquivos CSV em DataFrames separados.
        Combine os DataFrames em um único DataFrame.
        Renomeie as colunas para português
        Exiba as primeiras 5 linhas do DataFrame combinado.
        Exiba informações gerais e estatísticas descritivas do DataFrame.

    Análise Exploratória:
        Conte a quantidade de jogos por plataforma.
        Calcule a média das vendas globais por plataforma.
        Conte a quantidade de jogos por gênero.

    Filtragem de Dados:
        Filtre os jogos com vendas globais acima da média e conte quantos são.
        Filtre os jogos lançados após o ano 2010 e calcule a média das vendas globais desses jogos.

    Operações Avançadas:
        Adicione uma coluna ao DataFrame que calcule a soma das vendas na América do Norte e Europa.
        Agrupe os dados por ano de lançamento e calcule a média das vendas globais.
# Nova seção

In [3]:
import pandas as pd

# Carregando os arquivos CSV em DataFrames separados
df_a = pd.read_csv('/content/Video_Game_Sales_a - Video_Game_Sales_a.csv')
df_b = pd.read_csv('/content/Video_Game_Sales_b - Video_Game_Sales_b.csv')

In [4]:
# Verificação das colunas de dos DataFrames
print("Colunas em df_a:", df_a.columns)
print("Colunas em df_b:", df_b.columns)

# Verificação das primeiras linhas dos DataFrames
print(df_a.head())
print(df_b.head())

Colunas em df_a: Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales;'],
      dtype='object')
Colunas em df_b: Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales;'],
      dtype='object')
  Rank                      Name Platform    Year         Genre Publisher  \
0    1                Wii Sports      Wii  2006.0        Sports  Nintendo
1    2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2    3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3    4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4    5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales Global_Sales;
0     41.49     29.02      3.77         8.46        82.74;
1     29.08      3.58      6.81         0.77        40.24;
2     15.85     12.88      3.79         3.31        35.82;
3     15.75     11.01      3.28         2.96           33;
4     11.27      8.89     10.22         1.00        31.37;
    Rank                                   Name Platform    Year  \
0  16402                       The Technomancer       PC  2016.0
1  16403              Pro Evolution Soccer 2010       PC  2009.0
2  16404                           Memories Off      PSP  2008.0
3  16405                    Tenchu San Portable      PSP  2009.0
4  16406  Ratchet & Clank: Full Frontal Assault      PSV  2012.0

          Genre                     Publisher  NA_Sales  EU_Sales  JP_Sales  \
0  Role-Playing        Focus Home Interactive      0.00      0.01      0.00
1        Sports  Konami Digital Entertainment      0.00      0.01      0.00
2     Adventure                           5pb      0.00      0.00      0.01
3        Action                 From Software      0.00      0.00      0.01
4     Adventure   Sony Computer Entertainment      0.01      0.00      0.00

   Other_Sales Global_Sales;
0          0.0         0.01;
1          0.0         0.01;
2          0.0         0.01;
3          0.0         0.01;
4          0.0         0.01;

In [ ]:
# Combinando os DataFrames em um único DataFrame
df_combined = pd.concat([df_a, df_b], ignore_index=True)

In [ ]:
# Verificando o número de colunas no DataFrame
print(df_combined.columns)
print(len(df_combined.columns))

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales;'],
      dtype='object')
11

In [ ]:
# Renomeando as colunas para português
df_combined.columns = [
    'Classificação', 'Nome', 'Plataforma', 'Ano_Lancamento', 'Genero', 'Publicador',
    'Vendas_NA', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros', 'Vendas_Globais'
]

In [ ]:
#verificando as colunas
print(df_combined.columns)
display(df_combined.columns)

Index(['Classificação', 'Nome', 'Plataforma', 'Ano_Lancamento', 'Genero',
       'Publicador', 'Vendas_NA', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros',
       'Vendas_Globais'],
      dtype='object')

Index(['Classificação', 'Nome', 'Plataforma', 'Ano_Lancamento', 'Genero',
       'Publicador', 'Vendas_NA', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros',
       'Vendas_Globais'],
      dtype='object')

In [ ]:
display(df_combined.columns)

Index(['Classificação', 'Nome', 'Plataforma', 'Ano_Lancamento', 'Genero',
       'Publicador', 'Vendas_NA', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros',
       'Vendas_Globais'],
      dtype='object')

In [ ]:
# Exibindo as primeiras 5 linhas do DataFrame que foi combinado
print(df_combined.head())
display(df_combined.head())

  Classificação                      Nome Plataforma  Ano_Lancamento  \
0             1                Wii Sports        Wii          2006.0
1             2         Super Mario Bros.        NES          1985.0
2             3            Mario Kart Wii        Wii          2008.0
3             4         Wii Sports Resort        Wii          2009.0
4             5  Pokemon Red/Pokemon Blue         GB          1996.0

         Genero Publicador  Vendas_NA  Vendas_EU  Vendas_JP  Vendas_Outros  \
0        Sports   Nintendo      41.49      29.02       3.77           8.46
1      Platform   Nintendo      29.08       3.58       6.81           0.77
2        Racing   Nintendo      15.85      12.88       3.79           3.31
3        Sports   Nintendo      15.75      11.01       3.28           2.96
4  Role-Playing   Nintendo      11.27       8.89      10.22           1.00

  Vendas_Globais
0         82.74;
1         40.24;
2         35.82;
3            33;
4         31.37;

,Classificação,Nome,Plataforma,Ano_Lancamento,Genero,Publicador,Vendas_NA,Vendas_EU,Vendas_JP,Vendas_Outros,Vendas_Globais
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74;
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24;
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82;
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33;
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37;

In [ ]:
# Exibindo informações gerais do DataFrame
print(df_combined.info())
display(df_combined.info())

# Exibindo estatísticas descritivas do DataFrame
print(df_combined.describe())
display(df_combined.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16597 entries, 0 to 16596
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Classificação   16597 non-null  object
 1   Nome            16474 non-null  object
 2   Plataforma      16474 non-null  object
 3   Ano_Lancamento  16205 non-null  float64
 4   Genero          16474 non-null  object
 5   Publicador      16417 non-null  object
 6   Vendas_NA       16474 non-null  float64
 7   Vendas_EU       16474 non-null  float64
 8   Vendas_JP       16474 non-null  float64
 9   Vendas_Outros   16474 non-null  float64
 10  Vendas_Globais  16474 non-null  object
dtypes: float64(5), object(6)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16597 entries, 0 to 16596
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Classificação   16597 non-null  object
 1   Nome            16474 non-null  object
 2   Plataforma      16474 non-null  object
 3   Ano_Lancamento  16205 non-null  float64
 4   Genero          16474 non-null  object
 5   Publicador      16417 non-null  object
 6   Vendas_NA       16474 non-null  float64
 7   Vendas_EU       16474 non-null  float64
 8   Vendas_JP       16474 non-null  float64
 9   Vendas_Outros   16474 non-null  float64
 10  Vendas_Globais  16474 non-null  object
dtypes: float64(5), object(6)
memory usage: 1.4+ MB

None

       Ano_Lancamento     Vendas_NA     Vendas_EU     Vendas_JP  Vendas_Outros
count    16205.000000  16474.000000  16474.000000  16474.000000   16474.000000
mean      2006.401851      0.265742      0.147347      0.078024       0.048283
std          5.841352      0.819540      0.507088      0.310186       0.189257
min       1980.000000      0.000000      0.000000      0.000000       0.000000
25%       2003.000000      0.000000      0.000000      0.000000       0.000000
50%       2007.000000      0.080000      0.020000      0.000000       0.010000
75%       2010.000000      0.240000      0.110000      0.040000       0.040000
max       2020.000000     41.490000     29.020000     10.220000      10.570000

       Ano_Lancamento     Vendas_NA     Vendas_EU     Vendas_JP  Vendas_Outros
count    16205.000000  16474.000000  16474.000000  16474.000000   16474.000000
mean      2006.401851      0.265742      0.147347      0.078024       0.048283
std          5.841352      0.819540      0.507088      0.310186       0.189257
min       1980.000000      0.000000      0.000000      0.000000       0.000000
25%       2003.000000      0.000000      0.000000      0.000000       0.000000
50%       2007.000000      0.080000      0.020000      0.000000       0.010000
75%       2010.000000      0.240000      0.110000      0.040000       0.040000
max       2020.000000     41.490000     29.020000     10.220000      10.570000

# 'Análise Exploratória'

In [ ]:
# quantidade de jogos por plataforma
quantidade_jogos_plataforma = df_combined['Plataforma'].value_counts()
print(quantidade_jogos_plataforma)
display(quantidade_jogos_plataforma)

Plataforma
PS2     2144
DS      2137
PS3     1323
Wii     1317
X360    1258
PSP     1200
PS      1192
PC       951
XB       820
GBA      807
GC       551
3DS      506
PSV      411
PS4      336
N64      318
SNES     239
XOne     213
SAT      172
WiiU     143
2600     133
NES       98
GB        98
DC        50
GEN       26
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: count, dtype: int64

Plataforma
PS2     2144
DS      2137
PS3     1323
Wii     1317
X360    1258
PSP     1200
PS      1192
PC       951
XB       820
GBA      807
GC       551
3DS      506
PSV      411
PS4      336
N64      318
SNES     239
XOne     213
SAT      172
WiiU     143
2600     133
NES       98
GB        98
DC        50
GEN       26
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: count, dtype: int64

In [ ]:
df_combined.columns = [
    'Classificação', 'Nome', 'Plataforma', 'Ano_Lancamento', 'Genero', 'Publicador',
    'Vendas_NA', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros', 'Vendas_Globais'
]

print(df_combined.columns)

Index(['Classificação', 'Nome', 'Plataforma', 'Ano_Lancamento', 'Genero',
       'Publicador', 'Vendas_NA', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros',
       'Vendas_Globais'],
      dtype='object')

In [ ]:
# Aqui tive que converter a coluna 'Vendas_Globais' para numérico, convertendo erros para NaN
df_combined['Vendas_Globais'] = pd.to_numeric(df_combined['Vendas_Globais'], errors='coerce')

In [ ]:
media_vendas_globais_plataforma = df_combined.groupby('Plataforma')['Vendas_Globais'].mean()
print(media_vendas_globais_plataforma)

display(media_vendas_globais_plataforma)

Plataforma
2600         NaN
3DO          NaN
3DS          NaN
DC           NaN
DS           NaN
GB           NaN
GBA          NaN
GC           NaN
GEN          NaN
GG           NaN
N64          NaN
NES          NaN
NG           NaN
PC           NaN
PCFX         NaN
PS           NaN
PS2     0.010000
PS3     0.051667
PS4     0.030000
PSP     0.077500
PSV     0.078571
SAT          NaN
SCD          NaN
SNES         NaN
TG16         NaN
WS           NaN
Wii          NaN
WiiU         NaN
X360    0.041667
XB           NaN
XOne         NaN
Name: Vendas_Globais, dtype: float64

Plataforma
2600         NaN
3DO          NaN
3DS          NaN
DC           NaN
DS           NaN
GB           NaN
GBA          NaN
GC           NaN
GEN          NaN
GG           NaN
N64          NaN
NES          NaN
NG           NaN
PC           NaN
PCFX         NaN
PS           NaN
PS2     0.010000
PS3     0.051667
PS4     0.030000
PSP     0.077500
PSV     0.078571
SAT          NaN
SCD          NaN
SNES         NaN
TG16         NaN
WS           NaN
Wii          NaN
WiiU         NaN
X360    0.041667
XB           NaN
XOne         NaN
Name: Vendas_Globais, dtype: float64

In [ ]:
# quantidade de jogos por gênero
quantidade_jogos_genero = df_combined['Genero'].value_counts()
print(quantidade_jogos_genero)

Genero
Action          3293
Sports          2340
Misc            1716
Role-Playing    1480
Shooter         1296
Adventure       1263
Racing          1246
Platform         878
Simulation       863
Fighting         847
Strategy         674
Puzzle           578
Name: count, dtype: int64

# Filtragem de dados

In [ ]:
# média das vendas globais
media_vendas_globais = df_combined['Vendas_Globais'].mean()

# jogos com vendas globais acima da média
jogos_acima_media = df_combined[df_combined['Vendas_Globais'] > media_vendas_globais]

# jogos acima da média
print(len(jogos_acima_media))

10

In [ ]:
# jogos lançados após o ano 2010
jogos_pos_2010 = df_combined[df_combined['Ano_Lancamento'] > 2010]

# média das vendas globais desses jogos
media_vendas_jogos_pos_2010 = jogos_pos_2010['Vendas_Globais'].mean()
print(media_vendas_jogos_pos_2010)

0.06333333333333334

# Operações avançadas

In [ ]:
# Adicionando uma coluna ao DataFrame que calcule a soma das vendas na América do Norte e Europa
df_combined['Vendas_NA_EU'] = df_combined['Vendas_NA'] + df_combined['Vendas_EU']

In [ ]:
# Agrupando os dados por ano de lançamento e calcular a média das vendas globais
media_vendas_por_ano = df_combined.groupby('Ano_Lancamento')['Vendas_Globais'].mean()
print(media_vendas_por_ano)
display(media_vendas_por_ano)

Ano_Lancamento
1980.0         NaN
1981.0         NaN
1982.0         NaN
1983.0         NaN
1984.0         NaN
1985.0         NaN
1986.0         NaN
1987.0         NaN
1988.0         NaN
1989.0         NaN
1990.0         NaN
1991.0         NaN
1992.0         NaN
1993.0         NaN
1994.0         NaN
1995.0         NaN
1996.0         NaN
1997.0         NaN
1998.0         NaN
1999.0         NaN
2000.0         NaN
2001.0         NaN
2002.0         NaN
2003.0         NaN
2004.0         NaN
2005.0         NaN
2006.0         NaN
2007.0    0.010000
2008.0         NaN
2009.0    0.050000
2010.0    0.025000
2011.0    0.103333
2012.0    0.058000
2013.0    0.096667
2014.0    0.060000
2015.0    0.033333
2016.0         NaN
2017.0         NaN
2020.0         NaN
Name: Vendas_Globais, dtype: float64

Ano_Lancamento
1980.0         NaN
1981.0         NaN
1982.0         NaN
1983.0         NaN
1984.0         NaN
1985.0         NaN
1986.0         NaN
1987.0         NaN
1988.0         NaN
1989.0         NaN
1990.0         NaN
1991.0         NaN
1992.0         NaN
1993.0         NaN
1994.0         NaN
1995.0         NaN
1996.0         NaN
1997.0         NaN
1998.0         NaN
1999.0         NaN
2000.0         NaN
2001.0         NaN
2002.0         NaN
2003.0         NaN
2004.0         NaN
2005.0         NaN
2006.0         NaN
2007.0    0.010000
2008.0         NaN
2009.0    0.050000
2010.0    0.025000
2011.0    0.103333
2012.0    0.058000
2013.0    0.096667
2014.0    0.060000
2015.0    0.033333
2016.0         NaN
2017.0         NaN
2020.0         NaN
Name: Vendas_Globais, dtype: float64

# Nova seção